

  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
    background: #fff;
  }
  #about-b{
    background-color: black;
    color: white;
  }
  #about-b #progressHtml {
    overflow: hidden;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b #progressDoneHtml {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b #progressCss {
    overflow: hidden;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b #progressDoneCss {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b #progressSass {
    overflow: hidden;
    height: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b #progressDoneSass {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b #progressBootstrap {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b #progressDoneBootstrap {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b #progressJavascript {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    margin-bottom: 0.6rem;
  }
  #about-b #progressDoneJavascript {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b #progressReact {
    overflow: hidden;
    height: 20px;
    background: #ccc;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
    margin-bottom: 0.6rem;
    margin-bottom: 40px;
  }
  #about-b #progressDoneReact {
    height: 100%;
    color: #fff;
    width: 0;
    text-align: center;
    background: #ffbc00;
    /* transition: 1s ease 0.3s; */
    transition: 3s ease-in-out;
  }
  #about-b .section-title{
    margin-left: 10px;
    text-align: center;
  }
  .bottom-line{
        content: '';
        margin: 0 auto 1rem auto;
        padding: 1px;
        width: 100px;
        background-color: #ffbc00;
  }
  .container h4{
    margin-left: 40px;
  }
 